article.tweet {
  background-color: #fff;
  width: 100%;
  border-radius: .4em;
  border: 1px solid #ccc;
  position: relative;
  margin: 0 0 .65em 0;
  opacity: 0.7;
}

article.tweet:hover {
  opacity: 1;
}

article.tweet:hover i {
  visibility: visible;
}

.tweet-header {
  position: relative;
  background-color: #eee;
  margin: 0 0 1.5em 0;
  padding: .65em;
  width: 100%;
  height: 4.9em;
}

.tweet-header img {
  float: left;
  width: 55px;
  height: 55px;
  border-radius: .4em;
}

.tweet-header h2 {
  float: left;
  margin: 0 0 0 .5em;
}

.tweet-header .handle-name {
  position: absolute;
  top: 1em;
  right: .65em;
  font-size: 85%;
}

article .tweet-message {
  margin: 0;
  padding: .65em .85em .65em .85em;
}

article .tweet-footer {
  position: relative;
  border-top: 1px solid #eee;
  margin: 1.5em 0 0 0;
  padding: .85em 0 .85em .70em;
  font-size: 75%;
}

article .tweet-footer .tweet-actions {
  font-size: 125%;
  position: absolute;
  right: .65em;
  visibility: hidden;
}

article .tweet-footer .tweet-actions i {
  margin: 0 0 0 .5em;
  color: #79C3B7;
}

.form-errors {
  margin: 0 0 0 .5em;
  color: red;
}

